tests/* linguist-vendored
tools/* linguist-vendored
docs/* linguist-documentation

toyassembly/src/_generated/* linguist-generated
toyir/src/_generated/* linguist-generated
toyscript/src/keyword/_keyword.rs linguist-generated
