tests/* linguist-vendored
tools/* linguist-vendored
docs/* linguist-documentation
toyassembly/src/keyword/_keyword.rs linguist-generated
toyassembly/src/types/_valtype.rs linguist-generated
toyassembly/src/wasm/opcode.rs linguist-generated
toyir/src/opcode/_opcode.rs linguist-generated
toyir/src/primitive/_primitive.rs linguist-generated
toyscript/src/keyword/_keyword.rs linguist-generated
